*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Robot Framework logs and reports
log.html
report.html
output.xml
/tests/robot/reports/
/tests/robot/results/

# Error logs
*.log
